<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="SHM Test Automation Suite">

    <test name="Test script ">
        <classes>
            <class name="testCases.OnboardingTest"/>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->